{% extends "layout.html" %}

{% block content %}
<div class = "left_side">
  <form action = "" method = "POST">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit">
  </form>
</div>
<div class = "right_side">
  <h3>Other ways to contact me</h3>
  <ul>
    <li>
      
      <a href = "mailto:krasi2405@gmail.com"><span class = "glyphicon glyphicon-envelope"></span>krasi2405@gmail.com</a>
    </li>
    <li>
      
      <a href = "https://github.com/Krasi2405"><span class = "glyphicon glyphicon-download-alt"></span>Github Account</a>
    </li>
  </ul>
</div>

{% endblock %}