{% extends 'layout.html' %}

{% block content %}
<form action="" method = "GET">
	{% csrf_token %}
	{{ search_form.as_p }}
	<input type="submit" value = "search">

</form>

{% for blog in blog_list %}
	<a href = "{% url 'blog:blog_detail' pk=blog.pk %}">
		<div class = "thumbnail blog_box">
			<h3>
			{{ blog.title }}
			</h3>
			<p>{{ blog.created_at }}</p>

			<div class = "categories">
				{% for category in blog.categories.all %}
					{{ category }}
				{% endfor %}
			</div>
		</div>
	</a>
{% endfor %}
{% endblock %}